trunk/supercream/SuperCreamWS/App_WebReferences/WcfFoundationService/FoundationService14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50646/FoundationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SPWCFServer" />
  <xs:element name="DeleteVatCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="cde" nillable="true" type="q1:VatCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVatCodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExemptCodeExists">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExemptCodeExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExemptCodeExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VatCodeExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vatCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VatCodeExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VatCodeExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="code" nillable="true" type="q2:Van" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SaveVanResult" nillable="true" type="q3:Van" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetVanResult" nillable="true" type="q4:Van" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newCode" nillable="true" type="q5:Van" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origCode" nillable="true" type="q6:Van" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="UpdateVanResult" nillable="true" type="q7:Van" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVans">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetAllVansResult" nillable="true" type="q8:ArrayOfVan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="cde" nillable="true" type="q9:Van" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateSpecialInvoiceCreditNo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateSpecialInvoiceCreditNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateSpecialInvoiceCreditNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialInvoiceCreditDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderID" type="xs:int" />
        <xs:element minOccurs="0" name="vatRate" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialInvoiceCreditDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetSpecialInvoiceCreditDetailsResult" nillable="true" type="q10:SpecialInvoiceCreditNoteDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialInvoiceOustandingBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNo" type="xs:int" />
        <xs:element minOccurs="0" name="creditNote" type="xs:int" />
        <xs:element minOccurs="0" name="vatRate" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialInvoiceOustandingBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSpecialInvoiceOustandingBalanceResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpecialInvoiceCreditNoteExistsByOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpecialInvoiceCreditNoteExistsByOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SpecialInvoiceCreditNoteExistsByOrderIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpecialInvoiceGetByReferenceId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpecialInvoiceGetByReferenceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SpecialInvoiceGetByReferenceIdResult" nillable="true" type="q11:SpecialInvoiceCreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialHeaders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="invoiceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="orderStatus" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialHeadersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetSpecialHeadersResult" nillable="true" type="q12:ArrayOfSpecialInvoiceHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSpecialInvoiceHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="specialInvoiceHeader" nillable="true" type="q13:SpecialInvoiceHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSpecialInvoiceHeaderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSpecialInvoiceHeaders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSpecialInvoiceHeadersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetAllSpecialInvoiceHeadersResult" nillable="true" type="q14:ArrayOfSpecialInvoiceHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialInvoiceHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialInvoiceHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetSpecialInvoiceHeaderResult" nillable="true" type="q15:SpecialInvoiceHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSpecialInvoiceHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="specialInvoiceHeader" nillable="true" type="q16:SpecialInvoiceHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSpecialInvoiceHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SaveSpecialInvoiceHeaderResult" nillable="true" type="q17:SpecialInvoiceHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpecialInvoiceHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newSpecialInvoiceHeader" nillable="true" type="q18:SpecialInvoiceHeader" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origSpecialInvoiceHeader" nillable="true" type="q19:SpecialInvoiceHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpecialInvoiceHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="UpdateSpecialInvoiceHeaderResult" nillable="true" type="q20:SpecialInvoiceHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySpecialInvoiceId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBySpecialInvoiceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetBySpecialInvoiceIdResult" nillable="true" type="q21:ArrayOfSpecialInvoiceLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSpecialInvoiceLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="specialInvoiceLines" nillable="true" type="q22:SpecialInvoiceLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSpecialInvoiceLineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSpecialInvoiceLines">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSpecialInvoiceLinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetAllSpecialInvoiceLinesResult" nillable="true" type="q23:ArrayOfSpecialInvoiceLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialInvoiceLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialInvoiceLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetSpecialInvoiceLineResult" nillable="true" type="q24:SpecialInvoiceLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSpecialInvoiceLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="specialInvoiceLines" nillable="true" type="q25:SpecialInvoiceLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSpecialInvoiceLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SaveSpecialInvoiceLineResult" nillable="true" type="q26:SpecialInvoiceLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpecialInvoiceLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newSpecialInvoiceLines" nillable="true" type="q27:SpecialInvoiceLine" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origSpecialInvoiceLines" nillable="true" type="q28:SpecialInvoiceLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpecialInvoiceLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="UpdateSpecialInvoiceLineResult" nillable="true" type="q29:SpecialInvoiceLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StandardVatRateExists">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StandardVatRateExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StandardVatRateExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStandardVatRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="standardVatRate" nillable="true" type="q30:StandardVatRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStandardVatRateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStandardVatRates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStandardVatRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetAllStandardVatRatesResult" nillable="true" type="q31:ArrayOfStandardVatRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandardVatRate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandardVatRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetStandardVatRateResult" nillable="true" type="q32:StandardVatRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStandardVatRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="standardVatRate" nillable="true" type="q33:StandardVatRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStandardVatRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SaveStandardVatRateResult" nillable="true" type="q34:StandardVatRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStandardVatRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newStandardVatRate" nillable="true" type="q35:StandardVatRate" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origStandardVatRate" nillable="true" type="q36:StandardVatRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStandardVatRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="UpdateStandardVatRateResult" nillable="true" type="q37:StandardVatRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTerm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="code" nillable="true" type="q38:Terms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTermResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SaveTermResult" nillable="true" type="q39:Terms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTermResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetTermResult" nillable="true" type="q40:Terms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTerm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newCode" nillable="true" type="q41:Terms" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origCode" nillable="true" type="q42:Terms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTermResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="UpdateTermResult" nillable="true" type="q43:Terms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTerms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTermsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetAllTermsResult" nillable="true" type="q44:ArrayOfTerms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTerm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="cde" nillable="true" type="q45:Terms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTermResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVatCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="code" nillable="true" type="q46:VatCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVatCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SaveVatCodeResult" nillable="true" type="q47:VatCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVatCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVatCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetVatCodeResult" nillable="true" type="q48:VatCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVatCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newCode" nillable="true" type="q49:VatCode" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origCode" nillable="true" type="q50:VatCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVatCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="UpdateVatCodeResult" nillable="true" type="q51:VatCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVatCodes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVatCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetAllVatCodesResult" nillable="true" type="q52:ArrayOfVatCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVanForInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderID" type="xs:int" />
        <xs:element minOccurs="0" name="vanID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVanForInvoiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVanInvoiceCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deliveryDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVanInvoiceCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetVanInvoiceCountResult" nillable="true" type="q53:ArrayOfVanInvoiceCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePriceListHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePriceListHeaderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPriceListHeaders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPriceListHeadersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetAllPriceListHeadersResult" nillable="true" type="q54:ArrayOfPriceListHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceListHeaderByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceListHeaderByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetPriceListHeaderByIDResult" nillable="true" type="q55:PriceListHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePriceListHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="priceListHeader" nillable="true" type="q56:PriceListHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePriceListHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SavePriceListHeaderResult" nillable="true" type="q57:PriceListHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePriceListHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newPriceListHeader" nillable="true" type="q58:PriceListHeader" />
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origPriceListHeader" nillable="true" type="q59:PriceListHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePriceListHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="UpdatePriceListHeaderResult" nillable="true" type="q60:PriceListHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePriceListItemByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="priceListItem" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePriceListItemByIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceListItemById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceListItemByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetPriceListItemByIdResult" nillable="true" type="q61:PriceListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceListItemByProductId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="priceListID" type="xs:int" />
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceListItemByProductIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetPriceListItemByProductIdResult" nillable="true" type="q62:PriceListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceListItemByPriceListHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceListItemByPriceListHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetPriceListItemByPriceListHeaderResult" nillable="true" type="q63:ArrayOfPriceListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePriceListItemByProductId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="priceListID" type="xs:int" />
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePriceListItemByProductIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePriceListItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="priceListItem" nillable="true" type="q64:PriceListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePriceListItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SavePriceListItemResult" nillable="true" type="q65:PriceListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePriceListItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newProduct" nillable="true" type="q66:PriceListItem" />
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origProduct" nillable="true" type="q67:PriceListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePriceListItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="UpdatePriceListItemResult" nillable="true" type="q68:PriceListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="product" nillable="true" type="q69:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SaveProductResult" nillable="true" type="q70:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="product" nillable="true" type="q71:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetAllProductsResult" nillable="true" type="q72:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetProductResult" nillable="true" type="q73:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newProduct" nillable="true" type="q74:Product" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origProduct" nillable="true" type="q75:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="UpdateProductResult" nillable="true" type="q76:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByProductCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByProductCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetProductByProductCodeResult" nillable="true" type="q77:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductCodeExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductCodeExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductCodeExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLikeProductCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLikeProductCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetLikeProductCodeResult" nillable="true" type="q78:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLikeProductDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLikeProductDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetLikeProductDescriptionResult" nillable="true" type="q79:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsInPriceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsInPriceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetProductsInPriceListResult" nillable="true" type="q80:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsOutOfProductList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsOutOfProductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetProductsOutOfProductListResult" nillable="true" type="q81:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSpecialInvoiceCreditNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="specialInvoiceCreditNote" nillable="true" type="q82:SpecialInvoiceCreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSpecialInvoiceCreditNoteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSpecialInvoiceCreditNotes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSpecialInvoiceCreditNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetAllSpecialInvoiceCreditNotesResult" nillable="true" type="q83:ArrayOfSpecialInvoiceCreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialInvoiceCreditNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialInvoiceCreditNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetSpecialInvoiceCreditNoteResult" nillable="true" type="q84:SpecialInvoiceCreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSpecialInvoiceCreditNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="specialInvoiceCreditNote" nillable="true" type="q85:SpecialInvoiceCreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSpecialInvoiceCreditNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SaveSpecialInvoiceCreditNoteResult" nillable="true" type="q86:SpecialInvoiceCreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpecialInvoiceCreditNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newSpecialInvoiceCreditNote" nillable="true" type="q87:SpecialInvoiceCreditNote" />
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origSpecialInvoiceCreditNote" nillable="true" type="q88:SpecialInvoiceCreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpecialInvoiceCreditNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="UpdateSpecialInvoiceCreditNoteResult" nillable="true" type="q89:SpecialInvoiceCreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSpecialInvoiceCreditNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="invoiceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSpecialInvoiceCreditNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SearchSpecialInvoiceCreditNotesResult" nillable="true" type="q90:ArrayOfSpecialInvoiceCreditNoteDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialInvoiceCreditNotesByInvoiceId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecialInvoiceCreditNotesByInvoiceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetSpecialInvoiceCreditNotesByInvoiceIdResult" nillable="true" type="q91:ArrayOfSpecialInvoiceCreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderCreditNoteLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderCreditNoteLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetOrderCreditNoteLineResult" nillable="true" type="q92:OrderCreditNoteLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrderCreditNoteLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="orderCreditNoteLine" nillable="true" type="q93:OrderCreditNoteLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrderCreditNoteLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SaveOrderCreditNoteLineResult" nillable="true" type="q94:OrderCreditNoteLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderCreditNoteLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newOrderCreditNoteLine" nillable="true" type="q95:OrderCreditNoteLine" />
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origOrderCreditNoteLine" nillable="true" type="q96:OrderCreditNoteLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderCreditNoteLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="UpdateOrderCreditNoteLineResult" nillable="true" type="q97:OrderCreditNoteLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newOrderHeader" nillable="true" type="q98:OrderHeader" />
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origOrderHeader" nillable="true" type="q99:OrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="CreateInvoiceResult" nillable="true" type="q100:OrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInvoiceProforma">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newOrderHeader" nillable="true" type="q101:OrderHeader" />
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origOrderHeader" nillable="true" type="q102:OrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInvoiceProformaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="CreateInvoiceProformaResult" nillable="true" type="q103:OrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDeliveryNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newOrderHeader" nillable="true" type="q104:OrderHeader" />
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origOrderHeader" nillable="true" type="q105:OrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDeliveryNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="CreateDeliveryNoteResult" nillable="true" type="q106:OrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrderHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="orderHeader" nillable="true" type="q107:OrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrderHeaderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetOrderHeaderResult" nillable="true" type="q108:OrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderHeaderByIdWithVatCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderHeaderByIdWithVatCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetOrderHeaderByIdWithVatCodeResult" nillable="true" type="q109:OrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderHeaderByOrderNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderHeaderByOrderNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetOrderHeaderByOrderNoResult" nillable="true" type="q110:OrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrderHeaders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrderHeadersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetAllOrderHeadersResult" nillable="true" type="q111:ArrayOfOrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvoiceNoExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoiceNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvoiceNoExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvoiceNoExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderHeaderForSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="invoiceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="orderStatus" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderHeaderForSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetOrderHeaderForSearchResult" nillable="true" type="q112:ArrayOfOrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderHeaderForSearchWithPrintedOrderStatuses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="invoiceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="actualOrderStatus" type="xs:short" />
        <xs:element minOccurs="0" name="printedOrderStatus" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderHeaderForSearchWithPrintedOrderStatusesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetOrderHeaderForSearchWithPrintedOrderStatusesResult" nillable="true" type="q113:ArrayOfOrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrderHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="orderHeader" nillable="true" type="q114:OrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrderHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SaveOrderHeaderResult" nillable="true" type="q115:OrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newOrderHeader" nillable="true" type="q116:OrderHeader" />
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origOrderHeader" nillable="true" type="q117:OrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderHeaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="UpdateOrderHeaderResult" nillable="true" type="q118:OrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoicesWithStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="invoiceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="orderStatus" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoicesWithStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetInvoicesWithStatusResult" nillable="true" type="q119:ArrayOfInvoiceWithStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoidOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderID" type="xs:int" />
        <xs:element minOccurs="0" name="reasonForVoiding" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoidOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrderLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="orderLine" nillable="true" type="q120:OrderLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrderLineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetOrderLineResult" nillable="true" type="q121:OrderLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderLinesByOrderID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderLinesByOrderIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetOrderLinesByOrderIDResult" nillable="true" type="q122:ArrayOfOrderLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrderLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="orderLine" nillable="true" type="q123:OrderLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrderLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SaveOrderLineResult" nillable="true" type="q124:OrderLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newOrderLine" nillable="true" type="q125:OrderLine" />
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origOrderLine" nillable="true" type="q126:OrderLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="UpdateOrderLineResult" nillable="true" type="q127:OrderLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrderNotesStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="orderNotesStatus" nillable="true" type="q128:OrderNotesStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrderNotesStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrderNotesStatuss">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrderNotesStatussResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetAllOrderNotesStatussResult" nillable="true" type="q129:ArrayOfOrderNotesStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderNoteStatusByOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderNoteStatusByOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetOrderNoteStatusByOrderIdResult" nillable="true" type="q130:OrderNotesStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderNotesStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderNotesStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetOrderNotesStatusResult" nillable="true" type="q131:OrderNotesStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderNoteStatusByOrderIDExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderNoteStatusByOrderIDExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderNoteStatusByOrderIDExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrderNotesStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="orderNotesStatus" nillable="true" type="q132:OrderNotesStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrderNotesStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SaveOrderNotesStatusResult" nillable="true" type="q133:OrderNotesStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderNotesStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newOrderNotesStatus" nillable="true" type="q134:OrderNotesStatus" />
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origOrderNotesStatus" nillable="true" type="q135:OrderNotesStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderNotesStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="UpdateOrderNotesStatusResult" nillable="true" type="q136:OrderNotesStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePaymentCompleted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderID" type="xs:int" />
        <xs:element minOccurs="0" name="invoicePaymentComplete" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePaymentCompletedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InvoicesByDateAndVan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deliveryDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="vanId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvoicesByDateAndVanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="InvoicesByDateAndVanResult" nillable="true" type="q137:ArrayOfOrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOustandingCreditNoteBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNo" type="xs:int" />
        <xs:element minOccurs="0" name="creditNote" type="xs:int" />
        <xs:element minOccurs="0" name="vatRate" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOustandingCreditNoteBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOustandingCreditNoteBalanceResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditNotesByOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creditNoteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditNotesByOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetCreditNotesByOrderIdResult" nillable="true" type="q138:ArrayOfCreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContactDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="contactDetail" nillable="true" type="q139:ContactDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContactDetailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactDetailByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactDetailByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetContactDetailByIDResult" nillable="true" type="q140:ContactDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactDetailsByCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactDetailsByCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetContactDetailsByCustomerResult" nillable="true" type="q141:ArrayOfContactDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveContactDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="contactDetail" nillable="true" type="q142:ContactDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveContactDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SaveContactDetailResult" nillable="true" type="q143:ContactDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContactDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newContactDetail" nillable="true" type="q144:ContactDetail" />
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origContactDetail" nillable="true" type="q145:ContactDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContactDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="UpdateContactDetailResult" nillable="true" type="q146:ContactDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFoundationFacility">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="foundationFacility" nillable="true" type="q147:FoundationFacility" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFoundationFacilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SaveFoundationFacilityResult" nillable="true" type="q148:FoundationFacility" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FoundationFacilityExists">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FoundationFacilityExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FoundationFacilityExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoundationFacility">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoundationFacilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetFoundationFacilityResult" nillable="true" type="q149:FoundationFacility" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFoundationFacility">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newFoundationFacility" nillable="true" type="q150:FoundationFacility" />
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origFoundationFacility" nillable="true" type="q151:FoundationFacility" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFoundationFacilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="UpdateFoundationFacilityResult" nillable="true" type="q152:FoundationFacility" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOutletStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="store" nillable="true" type="q153:OutletStore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOutletStoreResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOutletStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="store" nillable="true" type="q154:OutletStore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOutletStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SaveOutletStoreResult" nillable="true" type="q155:OutletStore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutletStoreByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutletStoreByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetOutletStoreByIDResult" nillable="true" type="q156:OutletStore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOutletStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newStore" nillable="true" type="q157:OutletStore" />
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origStore" nillable="true" type="q158:OutletStore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOutletStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="UpdateOutletStoreResult" nillable="true" type="q159:OutletStore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderCreditNoteExistsByOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderCreditNoteExistsByOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OrderCreditNoteExistsByOrderIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderCreditNotesByOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderCreditNotesByOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetOrderCreditNotesByOrderIdResult" nillable="true" type="q160:ArrayOfOrderCreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderHeaderInvoiceCreditDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderHeaderInvoiceCreditDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetOrderHeaderInvoiceCreditDetailsResult" nillable="true" type="q161:InvoiceCreditNoteDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOrderCreditNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="invoiceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchOrderCreditNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SearchOrderCreditNotesResult" nillable="true" type="q162:ArrayOfCreditNoteDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrderCreditNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="orderCreditNote" nillable="true" type="q163:OrderCreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrderCreditNoteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrderCreditNotes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrderCreditNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetAllOrderCreditNotesResult" nillable="true" type="q164:ArrayOfOrderCreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderCreditNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderCreditNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetOrderCreditNoteResult" nillable="true" type="q165:OrderCreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrderCreditNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q166="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="orderCreditNote" nillable="true" type="q166:OrderCreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOrderCreditNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q167="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SaveOrderCreditNoteResult" nillable="true" type="q167:OrderCreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderCreditNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q168="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newOrderCreditNote" nillable="true" type="q168:OrderCreditNote" />
        <xs:element xmlns:q169="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origOrderCreditNote" nillable="true" type="q169:OrderCreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderCreditNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q170="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="UpdateOrderCreditNoteResult" nillable="true" type="q170:OrderCreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AvailableOrderLinesForCreditNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AvailableOrderLinesForCreditNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q171="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="AvailableOrderLinesForCreditNoteResult" nillable="true" type="q171:ArrayOfOrderLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderCreditNoteLinesByCreditNoteId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creditNoteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderCreditNoteLinesByCreditNoteIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q172="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetOrderCreditNoteLinesByCreditNoteIdResult" nillable="true" type="q172:ArrayOfOrderCreditNoteLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableNoOfUnitsOnOrderLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderLineId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableNoOfUnitsOnOrderLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAvailableNoOfUnitsOnOrderLineResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfOrderLineAlreadyExistsForCreditNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderLineId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfOrderLineAlreadyExistsForCreditNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIfOrderLineAlreadyExistsForCreditNotesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfCreditNoteLineExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creditNoteid" type="xs:int" />
        <xs:element minOccurs="0" name="orderLineId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfCreditNoteLineExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIfCreditNoteLineExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditNoteLineByOrderIdAndOrderLineId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creditNoteid" type="xs:int" />
        <xs:element minOccurs="0" name="orderLineId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditNoteLineByOrderIdAndOrderLineIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q173="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetCreditNoteLineByOrderIdAndOrderLineIdResult" nillable="true" type="q173:OrderCreditNoteLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrderCreditNoteLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q174="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="orderCreditNoteLine" nillable="true" type="q174:OrderCreditNoteLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrderCreditNoteLineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrderCreditNoteLines">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrderCreditNoteLinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q175="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetAllOrderCreditNoteLinesResult" nillable="true" type="q175:ArrayOfOrderCreditNoteLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q176="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="ac" nillable="true" type="q176:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q177="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SaveAccountResult" nillable="true" type="q177:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlphaIDExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlphaIDExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AlphaIDExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q178="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetAllAccountsResult" nillable="true" type="q178:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsByCustomerId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsByCustomerIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q179="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetAccountsByCustomerIdResult" nillable="true" type="q179:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q180="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetAccountResult" nillable="true" type="q180:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountByAlphaID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountByAlphaIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q181="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetAccountByAlphaIDResult" nillable="true" type="q181:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q182="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newAccount" nillable="true" type="q182:Account" />
        <xs:element xmlns:q183="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origAccount" nillable="true" type="q183:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q184="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="UpdateAccountResult" nillable="true" type="q184:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q185="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="cde" nillable="true" type="q185:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q186="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetAddressResult" nillable="true" type="q186:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateOrderNo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateOrderNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateOrderNoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsByCustomerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountsByCustomerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q187="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetAccountsByCustomerIDResult" nillable="true" type="q187:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersByAccountNameLike">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersByAccountNameLikeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q188="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetCustomersByAccountNameLikeResult" nillable="true" type="q188:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByTelehoneNoLike">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="telephoneNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByTelehoneNoLikeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q189="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetByTelehoneNoLikeResult" nillable="true" type="q189:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q190="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetAllCustomersResult" nillable="true" type="q190:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerExistsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerExistsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerExistsByNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerExistsWithNameLike">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerExistsWithNameLikeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerExistsWithNameLikeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q191="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetCustomerByNameResult" nillable="true" type="q191:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q192="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetCustomerByIDResult" nillable="true" type="q192:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByNameLike">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByNameLikeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q193="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetCustomerByNameLikeResult" nillable="true" type="q193:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerWithContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerWithContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q194="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetCustomerWithContactsResult" nillable="true" type="q194:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerWithOutletStores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerWithOutletStoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q195="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetCustomerWithOutletStoresResult" nillable="true" type="q195:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomerOutlet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q196="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="customer" nillable="true" type="q196:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomerOutletResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q197="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SaveCustomerOutletResult" nillable="true" type="q197:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q198="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newCustomer" nillable="true" type="q198:Customer" />
        <xs:element xmlns:q199="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origCustomer" nillable="true" type="q199:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q200="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="UpdateCustomerResult" nillable="true" type="q200:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreditNoteExistsByOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreditNoteExistsByOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreditNoteExistsByOrderIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCreditNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q201="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="creditNote" nillable="true" type="q201:CreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCreditNoteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCreditNotes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCreditNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q202="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetAllCreditNotesResult" nillable="true" type="q202:ArrayOfCreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q203="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetCreditNoteResult" nillable="true" type="q203:CreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCreditNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q204="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="creditNote" nillable="true" type="q204:CreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCreditNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q205="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SaveCreditNoteResult" nillable="true" type="q205:CreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCreditNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q206="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="newCreditNote" nillable="true" type="q206:CreditNote" />
        <xs:element xmlns:q207="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="origCreditNote" nillable="true" type="q207:CreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCreditNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q208="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="UpdateCreditNoteResult" nillable="true" type="q208:CreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCreditNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="invoiceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCreditNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q209="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="SearchCreditNotesResult" nillable="true" type="q209:ArrayOfCreditNoteDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceCreditDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceCreditDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q210="http://schemas.datacontract.org/2004/07/SPWCFServer" minOccurs="0" name="GetInvoiceCreditDetailsResult" nillable="true" type="q210:InvoiceCreditNoteDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>