trunk/supercream/SuperCreamWS/App_WebReferences/WcfFoundationService/FoundationService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SPWCFServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SPWCFServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50646/FoundationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
  <xs:complexType name="SpecialInvoiceLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Discount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfUnits" type="xs:int" />
      <xs:element minOccurs="0" name="OrderLineStatus" type="xs:short" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="QtyPerUnit" type="xs:int" />
      <xs:element minOccurs="0" name="SpecialInstructions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecialInvoiceID" type="xs:int" />
      <xs:element minOccurs="0" name="VatExempt" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpecialInvoiceLine" nillable="true" type="tns:SpecialInvoiceLine" />
  <xs:complexType name="ArrayOfSpecialInvoiceLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpecialInvoiceLine" nillable="true" type="tns:SpecialInvoiceLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecialInvoiceLine" nillable="true" type="tns:ArrayOfSpecialInvoiceLine" />
  <xs:complexType name="StandardVatRate">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="VatCodeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StandardVatRate" nillable="true" type="tns:StandardVatRate" />
  <xs:complexType name="ArrayOfStandardVatRate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StandardVatRate" nillable="true" type="tns:StandardVatRate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStandardVatRate" nillable="true" type="tns:ArrayOfStandardVatRate" />
  <xs:complexType name="Terms">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Terms" nillable="true" type="tns:Terms" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="AlphaID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyToInvoiceTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactDetailID" type="xs:int" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceAddressID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TermTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Terms" nillable="true" type="tns:Terms" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="AccountID" type="xs:int" />
      <xs:element minOccurs="0" name="AddressLines" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressType" type="xs:short" />
      <xs:element minOccurs="0" name="County" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FoundationFacility" nillable="true" type="tns:FoundationFacility" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MapReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutletID" type="xs:int" />
      <xs:element minOccurs="0" name="OutletStore" nillable="true" type="tns:OutletStore" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Town" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="FoundationFacility">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="OfficePhoneNumber1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficePhoneNumber2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VatRegistrationNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FoundationFacility" nillable="true" type="tns:FoundationFacility" />
  <xs:complexType name="OutletStore">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpeningHoursNotes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OutletStore" nillable="true" type="tns:OutletStore" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:ArrayOfAccount" />
      <xs:element minOccurs="0" name="ContactDetail" nillable="true" type="tns:ArrayOfContactDetail" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="tns:ArrayOfNote" />
      <xs:element minOccurs="0" name="OutletStore" nillable="true" type="tns:ArrayOfOutletStore" />
      <xs:element minOccurs="0" name="PriceListHeaderID" type="xs:int" />
      <xs:element minOccurs="0" name="VatRegistrationNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
  <xs:complexType name="ArrayOfContactDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactDetail" nillable="true" type="tns:ContactDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactDetail" nillable="true" type="tns:ArrayOfContactDetail" />
  <xs:complexType name="ContactDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EMailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="InitialNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobRole" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="tns:ArrayOfPhone" />
      <xs:element minOccurs="0" name="ShopID" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactDetail" nillable="true" type="tns:ContactDetail" />
  <xs:complexType name="ArrayOfPhone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Phone" nillable="true" type="tns:Phone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhone" nillable="true" type="tns:ArrayOfPhone" />
  <xs:complexType name="Phone">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactDetail" nillable="true" type="tns:ContactDetail" />
      <xs:element minOccurs="0" name="ContactDetailID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneNoType" nillable="true" type="tns:PhoneNoType" />
      <xs:element minOccurs="0" name="PhoneTypeID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Phone" nillable="true" type="tns:Phone" />
  <xs:complexType name="PhoneNoType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhoneNoType" nillable="true" type="tns:PhoneNoType" />
  <xs:complexType name="ArrayOfNote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Note" nillable="true" type="tns:Note" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNote" nillable="true" type="tns:ArrayOfNote" />
  <xs:complexType name="Note">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="DateNoteTaken" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="NoteText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentNoteID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SpokeTo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Note" nillable="true" type="tns:Note" />
  <xs:complexType name="ArrayOfOutletStore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OutletStore" nillable="true" type="tns:OutletStore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOutletStore" nillable="true" type="tns:ArrayOfOutletStore" />
  <xs:complexType name="ArrayOfTerms">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Terms" nillable="true" type="tns:Terms" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTerms" nillable="true" type="tns:ArrayOfTerms" />
  <xs:complexType name="VatCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="PercentageValue" type="xs:float" />
      <xs:element minOccurs="0" name="VatExemptible" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="Version" nillable="true" type="q1:Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VatCode" nillable="true" type="tns:VatCode" />
  <xs:complexType name="ArrayOfVatCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VatCode" nillable="true" type="tns:VatCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVatCode" nillable="true" type="tns:ArrayOfVatCode" />
  <xs:complexType name="Van">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MaximumReccomendedParcelCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Van" nillable="true" type="tns:Van" />
  <xs:complexType name="ArrayOfVan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Van" nillable="true" type="tns:Van" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVan" nillable="true" type="tns:ArrayOfVan" />
  <xs:complexType name="ArrayOfVanInvoiceCount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VanInvoiceCount" nillable="true" type="tns:VanInvoiceCount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVanInvoiceCount" nillable="true" type="tns:ArrayOfVanInvoiceCount" />
  <xs:complexType name="VanInvoiceCount">
    <xs:sequence>
      <xs:element minOccurs="0" name="InvoiceCount" type="xs:int" />
      <xs:element minOccurs="0" name="VanDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VanInvoiceCount" nillable="true" type="tns:VanInvoiceCount" />
  <xs:complexType name="ArrayOfPriceListHeader">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PriceListHeader" nillable="true" type="tns:PriceListHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPriceListHeader" nillable="true" type="tns:ArrayOfPriceListHeader" />
  <xs:complexType name="PriceListHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateEffectiveFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateEffectiveTo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="PriceListName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceListHeader" nillable="true" type="tns:PriceListHeader" />
  <xs:complexType name="PriceListItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Discount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="PriceListID" type="xs:int" />
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:Product" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceListItem" nillable="true" type="tns:PriceListItem" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RRPPerItem" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitQty" type="xs:int" />
      <xs:element minOccurs="0" name="VatExempt" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfPriceListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PriceListItem" nillable="true" type="tns:PriceListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPriceListItem" nillable="true" type="tns:ArrayOfPriceListItem" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="ArrayOfSpecialInvoiceHeader">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpecialInvoiceHeader" nillable="true" type="tns:SpecialInvoiceHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpecialInvoiceHeader" nillable="true" type="tns:ArrayOfSpecialInvoiceHeader" />
  <xs:complexType name="SpecialInvoiceHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" type="xs:int" />
      <xs:element minOccurs="0" name="AlphaID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlphaPrefixOrPostFix" type="xs:short" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DatePrinted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateReprinted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeliveryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderStatus" type="xs:short" />
      <xs:element minOccurs="0" name="OutletStoreID" type="xs:int" />
      <xs:element minOccurs="0" name="ReasonForVoiding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecialInstructions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VatCodeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpecialInvoiceHeader" nillable="true" type="tns:SpecialInvoiceHeader" />
  <xs:complexType name="OrderCreditNoteLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Discount" type="xs:float" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfUnits" type="xs:int" />
      <xs:element minOccurs="0" name="OrderCreditNoteID" type="xs:int" />
      <xs:element minOccurs="0" name="OrderLineID" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="QtyPerUnit" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderCreditNoteLine" nillable="true" type="tns:OrderCreditNoteLine" />
  <xs:complexType name="OrderHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlphaID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlphaPrefixOrPostFix" type="xs:short" />
      <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
      <xs:element minOccurs="0" name="DeliveryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeliveryNoteNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceProformaNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderLine" nillable="true" type="tns:ArrayOfOrderLine" />
      <xs:element minOccurs="0" name="OrderNotesStatus" nillable="true" type="tns:OrderNotesStatus" />
      <xs:element minOccurs="0" name="OrderStatus" type="xs:short" />
      <xs:element minOccurs="0" name="ReasonForVoiding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecialInstructions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VatCode" nillable="true" type="tns:VatCode" />
      <xs:element minOccurs="0" name="VatCodeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderHeader" nillable="true" type="tns:OrderHeader" />
  <xs:complexType name="ArrayOfOrderLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderLine" nillable="true" type="tns:OrderLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderLine" nillable="true" type="tns:ArrayOfOrderLine" />
  <xs:complexType name="OrderLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Discount" type="xs:float" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="NoOfUnits" type="xs:int" />
      <xs:element minOccurs="0" name="OrderHeader" nillable="true" type="tns:OrderHeader" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="OrderLineStatus" type="xs:short" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="QtyPerUnit" type="xs:int" />
      <xs:element minOccurs="0" name="RRPPerItem" type="xs:decimal" />
      <xs:element minOccurs="0" name="SpecialInstructions" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderLine" nillable="true" type="tns:OrderLine" />
  <xs:complexType name="OrderNotesStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DeliveryNoteDateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeliveryNoteDatePrinted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeliveryNotePrinted" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceDateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InvoiceDatePrinted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InvoiceDateReprinted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InvoicePaymentComplete" type="xs:boolean" />
      <xs:element minOccurs="0" name="InvoicePrinted" type="xs:boolean" />
      <xs:element minOccurs="0" name="InvoiceProformaDateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InvoiceProformaDatePrinted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InvoiceProformaPrinted" type="xs:boolean" />
      <xs:element minOccurs="0" name="InvoiceReprinted" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="OutletStoreID" type="xs:int" />
      <xs:element minOccurs="0" name="PicklistDateGenerated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PicklistGenerated" type="xs:boolean" />
      <xs:element minOccurs="0" name="Van" nillable="true" type="tns:Van" />
      <xs:element minOccurs="0" name="VanID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderNotesStatus" nillable="true" type="tns:OrderNotesStatus" />
  <xs:complexType name="ArrayOfOrderHeader">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderHeader" nillable="true" type="tns:OrderHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderHeader" nillable="true" type="tns:ArrayOfOrderHeader" />
  <xs:complexType name="ArrayOfInvoiceWithStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoiceWithStatus" nillable="true" type="tns:InvoiceWithStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoiceWithStatus" nillable="true" type="tns:ArrayOfInvoiceWithStatus" />
  <xs:complexType name="InvoiceWithStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoicePaymentComplete" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvoiceWithStatus" nillable="true" type="tns:InvoiceWithStatus" />
  <xs:complexType name="ArrayOfOrderNotesStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderNotesStatus" nillable="true" type="tns:OrderNotesStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderNotesStatus" nillable="true" type="tns:ArrayOfOrderNotesStatus" />
  <xs:complexType name="ArrayOfCreditNote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditNote" nillable="true" type="tns:CreditNote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreditNote" nillable="true" type="tns:ArrayOfCreditNote" />
  <xs:complexType name="CreditNote">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VatExempt" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditNote" nillable="true" type="tns:CreditNote" />
  <xs:complexType name="ArrayOfOrderCreditNote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderCreditNote" nillable="true" type="tns:OrderCreditNote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderCreditNote" nillable="true" type="tns:ArrayOfOrderCreditNote" />
  <xs:complexType name="OrderCreditNote">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderCreditNote" nillable="true" type="tns:OrderCreditNote" />
  <xs:complexType name="InvoiceCreditNoteDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="TotalAmountCredited" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalInvoiceAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvoiceCreditNoteDetails" nillable="true" type="tns:InvoiceCreditNoteDetails" />
  <xs:complexType name="ArrayOfCreditNoteDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CreditNoteDetails" nillable="true" type="tns:CreditNoteDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCreditNoteDetails" nillable="true" type="tns:ArrayOfCreditNoteDetails" />
  <xs:complexType name="CreditNoteDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditNoteID" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InvoiceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="OrderNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditNoteDetails" nillable="true" type="tns:CreditNoteDetails" />
  <xs:complexType name="ArrayOfOrderCreditNoteLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderCreditNoteLine" nillable="true" type="tns:OrderCreditNoteLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderCreditNoteLine" nillable="true" type="tns:ArrayOfOrderCreditNoteLine" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
</xs:schema>